To get sudokus
https://github.com/dimitri/sudoku/blob/master/sudoku.txt

# Import

In [1]:
import pandas as pd
import numpy as np

In [3]:
s = "003020600900305001001806400008102900700000008006708200002609500800203009005010300"

In [9]:
def string2df(s):
    return pd.DataFrame(np.array(list(s.replace('0', ' '))).reshape((9,9)))

In [16]:
def get_mutables(s):
    return list(np.where(np.array(list(s)) == '0')[0])

In [95]:
def _generate_init(s):
    return ''.join([x if x != '0' else str(np.random.randint(1,10)) for x in list(s)] )

In [96]:
def generate_inits(s, how_many=1000):
    return [_generate_init(s) for x in range(how_many)]

In [98]:
def score(s):
    pass

In [101]:
q = _generate_init(s)

In [106]:
df = string2df(q)
df

   0  1  2  3  4  5  6  7  8
0  4  6  3  4  2  9  6  8  8
1  9  7  5  3  5  5  1  3  1
2  9  9  1  8  7  6  4  8  7
3  7  2  8  1  4  2  9  1  4
4  7  6  9  8  1  3  8  4  8
5  4  9  6  7  9  8  2  5  7
6  7  9  2  6  5  9  5  8  7
7  8  6  7  2  3  3  7  2  9
8  4  4  5  3  1  4  3  8  6

In [133]:
def score_set_of_9(set_of_9):
    return 9 - np.unique(list(set_of_9)).shape[0]

In [144]:
def get_combos(s):
    """ rows, columns and the squares """
    rows = [q[9*i:9*i+9] for i in range(9)]

'463429688975355131991876487728142914769813848496798257792659587867233729445314386'

In [152]:
q[1:81:9]

'679269964'

In [143]:
[q[9*i:9*i+9] for i in range(9)]

['463429688',
 '975355131',
 '991876487',
 '728142914',
 '769813848',
 '496798257',
 '792659587',
 '867233729',
 '445314386']

In [142]:
for i in range(9):
    print(9*i, 9*i+9)

0 9
9 18
18 27
27 36
36 45
45 54
54 63
63 72
72 81

In [134]:
score_set_of_9(q[0:9])

3