To get sudokus
https://github.com/dimitri/sudoku/blob/master/sudoku.txt

# Import

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = "003020600900305001001806400008102900700000008006708200002609500800203009005010300"

In [3]:
def string2df(s):
    return pd.DataFrame(np.array(list(s.replace('0', ' '))).reshape((9,9)))

In [4]:
def get_mutables(s):
    return list(np.where(np.array(list(s)) == '0')[0])

In [5]:
def _generate_init(s):
    return ''.join([x if x != '0' else str(np.random.randint(1,10)) for x in list(s)] )

In [6]:
def generate_inits(s, how_many=1000):
    return [_generate_init(s) for x in range(how_many)]

In [7]:
def score(s):
    pass

In [8]:
q = _generate_init(s)

In [9]:
df = string2df(q)
df

   0  1  2  3  4  5  6  7  8
0  9  5  3  8  2  1  6  4  9
1  9  7  9  3  3  5  7  9  1
2  8  9  1  8  8  6  4  6  2
3  2  5  8  1  1  2  9  9  1
4  7  1  2  1  2  9  3  8  8
5  3  2  6  7  4  8  2  4  8
6  1  2  2  6  9  9  5  1  5
7  8  3  5  2  8  3  4  9  9
8  7  8  5  2  1  2  3  8  4

In [10]:
def score_set_of_9(set_of_9):
    return 9 - np.unique(list(set_of_9)).shape[0]

In [26]:
def get_combos(s):
    """ rows, columns and the squares """
    rows = [s[9*i:9*i+9] for i in range(9)]
    cols = [s[i:81:9] for i in range(9)]
    squares = [''.join([q[3*i:3*i+3] for i in range(x, x+9, 3)]) for x in range(21) if x%9 in [0,1,2]]